<div id="movieModal" class="modal">
	<div class="modal-content">
		<span class="close">&times;</span>
		<div class="modal-container">
			<div class="movie-poster">
				<img src="" alt="" id="modal-poster">
			</div>
			<div class="movie-info">
				<h2 id="modal-title"></h2>
				<div class="movie-meta">
					<span id="modal-year"></span>
					<span id="modal-genres"></span>
				</div>
				<p id="modal-overview"></p>
				<div class="rating-section">
					<h3>Noter ce film</h3>
					<div class="stars">
						{% for i in 1..5 %}
							<span class="star" data-value="{{ i }}">☆</span>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
